<div class="row">
  <div class="col-1">
    <h3>Trip details</h3>
    <form [formGroup]="tripForm" (submit)="onSubmit()">
      <div>
        <label>Name</label><br>
        <input formControlName="name"
               [ngClass]="{'is-invalid': tripForm.controls.name.errors && tripForm.controls.name.touched}"/>
        <div *ngIf="tripForm.controls.name.errors && tripForm.controls.name.touched">
          <div>
          <span *ngIf="tripForm.controls.name.errors.required"
                class="error-span">
            Name is required
          </span>
          </div>
        </div>
      </div>
      <div>
        <label>Destination</label><br>
        <input formControlName="destination"
               [ngClass]="{'is-invalid': tripForm.controls.destination.errors && tripForm.controls.destination.touched}"/>
        <div *ngIf="tripForm.controls.destination.errors && tripForm.controls.destination.touched">
          <div>
          <span *ngIf="tripForm.controls.destination.errors.required"
                class="error-span">
            Destination is required
          </span>
          </div>
        </div>
      </div>
      <div>
        <label>Start date</label><br>
        <input formControlName="startDate" (blur)="compareTwoDates()" type="date" style="width: 100%;"
               [ngClass]="{'is-invalid': tripForm.controls.startDate.errors && tripForm.controls.startDate.touched}"/>
        <div *ngIf="tripForm.controls.startDate.errors && tripForm.controls.startDate.touched">
          <div>
          <span *ngIf="tripForm.controls.startDate.errors.required"
                class="error-span">
            Start date is required
          </span>
          </div>
        </div>
      </div>
      <div>
        <label>End date</label><br>
        <input formControlName="endDate" (blur)="compareTwoDates()" type="date" style="width: 100%;"
               [ngClass]="{'is-invalid': datesError.isError || tripForm.controls.endDate.errors && tripForm.controls.endDate.touched}"/>
        <div *ngIf=" datesError.isError || tripForm.controls.endDate.errors && tripForm.controls.endDate.touched">
          <div *ngIf="tripForm.controls.endDate.errors">
          <span *ngIf="tripForm.controls.endDate.errors.required"
                class="error-span">
            Start date is required
          </span>
          </div>
          <div>
          <span *ngIf="datesError.isError"
                class="error-span">
            {{datesError.errorMessage}}
          </span>
          </div>
        </div>
      </div>

      <button [ngClass]="tripForm.invalid  || datesError.isError ? 'button-invalid' : 'button'"
              type="submit" [disabled]="tripForm.invalid  || datesError.isError">Update</button>
      <p>
          <span *ngIf="tripForm.invalid && tripForm.touched"
                class="error-span">
            Form is invalid
          </span>
      </p>
    </form>
    <h3>Add expense</h3>
    <form [formGroup]="expenseForm" (submit)="onAddExpense()">
      <div>
        <label>Name</label><br>
        <input formControlName="name"/>
        <div *ngIf="expenseForm.controls.name.errors && expenseForm.controls.name.touched">
          <div>
          <span *ngIf="expenseForm.controls.name.errors.required"
                class="error-span">
            Name is required
          </span>
          </div>
        </div>
      </div>

      <div>
        <label>Amount</label>
        <input formControlName="amount" type="number" (input)="log()"/>
        <div *ngIf="expenseForm.controls.amount.errors && expenseForm.controls.amount.touched">
          <div>

          <span *ngIf="expenseForm.controls.amount.errors.required"
                class="error-span">
            Amount is required
          </span>
          </div>
          <div>
          <span *ngIf="expenseForm.controls.amount.errors.min"
                class="error-span">
            Amount cannot be negative
          </span>
          </div>
        </div>
      </div>
      <button class="button" [ngClass]="expenseForm.invalid && expenseForm.touched ? 'button-invalid' : 'button'"
              type="submit" [disabled]="expenseForm.invalid"
              style="width: 100%; margin-left: 0px;"><b>Add</b></button>
      <p>
          <span *ngIf="expenseForm.invalid && expenseForm.touched"
                class="error-span">
            Form is invalid
          </span>
      </p>
    </form>
    <button class="button" type="button" (click)="onViewChat()"
            style="width: 100%; margin-left: 0px;"><b>View chat</b></button>
  </div>
  <div style="grid-column: 3/8">
    <h3>Invited users</h3>
    <div *ngIf="invitedUsers1 as ca">
      <p-table #dt [columns]="cols" [value]="ca" dataKey="username" editMode="row" [paginator]="true" [rows]="10" >
        <ng-template pTemplate="caption">
          <div style="text-align: right">
            <button *ngIf="isAdmin()" pButton type="button" label="Settle" style="float: left" class="ui-button-raised"
            (click)="onSettle()"></button>
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
          </tr>
          <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
              <input style="max-width: 100%" *ngSwitchCase="'username'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
              <input style="max-width: 100%" *ngSwitchCase="'email'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
              <input style="max-width: 100%" *ngSwitchCase="'participation'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
          <tr [pEditableRow]="rowData">
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  {{rowData.username}}
                </ng-template>
                <ng-template pTemplate="output">
                  {{rowData.username}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  {{rowData.email}}
                </ng-template>
                <ng-template pTemplate="output">
                  {{rowData.email}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input style="max-width: 100%" pInputText type="number" [(ngModel)]="rowData.participation" required>
                </ng-template>
                <ng-template pTemplate="output">
                  {{(rowData.participation ? rowData.participation : 0) + ' %'}}
                </ng-template>
              </p-cellEditor>
            </td>

            <td style="text-align:center">
              <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" (click)="onRowEditInit(rowData)"></button>
              <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData, ri)"></button>
              <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-warning" (click)="onRowEditCancel(rowData, ri)"></button>
              <button *ngIf="!editing" pButton type="button" icon="pi pi-times" class="ui-button-danger" (click)="onRemoveMember(rowData)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div style="grid-column: 9/12">
    <h3>Trip expenses: {{totalExpenses}}</h3>
    <p-table [columns]="expenseCols" [value]="expenses" selectionMode="single" [(selection)]="selectedExpense" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10">
      <!--<ng-template pTemplate="caption">-->
        <!--List of Cars-->
      <!--</ng-template>-->
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
          <!--<button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>-->
        </div>
      </ng-template>
    </p-table>

    <p-dialog header="Expense details" [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '300px'}">
      <div class="ui-g ui-fluid" *ngIf="expense">
        <div class="ui-g-12">
          <div class="ui-g-4">
            <label for="title">name</label>
          </div>
          <div class="ui-g-8">
            <input pInputText id="title" [(ngModel)]="expense.title" autofocus />
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-4">
            <label for="amount">amount</label>
          </div>
          <div class="ui-g-8">
            <input pInputText id="amount" [(ngModel)]="expense.amount" type="number"/>
          </div>
        </div>
      </div>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button>
          <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
        </div>
      </p-footer>
    </p-dialog>
  </div>


</div>
<p-toast></p-toast>
