<div class="row">
  <div style="grid-column: 6/8">
    <h3>Log in</h3>
    <form [formGroup]="loginForm" (submit)="onSubmit()">
      <div>
        <div><label>Username</label></div>
        <div><input formControlName="username" (input)="form()"
                    [ngClass]="{'is-invalid': loginForm.controls.username.errors && loginForm.controls.username.touched}"/></div>
        <div *ngIf="loginForm.controls.username.errors && loginForm.controls.username.touched">
          <div>
          <span *ngIf="loginForm.controls.username.errors.required"
                class="error-span">
            username is required
          </span>
          </div>
          <div>
          <span *ngIf="loginForm.controls.username.errors.username"
                class="error-span">
            Email must be a valid email address
          </span>
          </div>
        </div>
      </div>
      <div>
        <div><label>Password</label></div>
        <div><input formControlName="password" type="password"
                    [ngClass]="{'is-invalid': loginForm.controls.password.errors && loginForm.controls.password.touched}"/></div>
        <div>
          <span *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched"
                class="error-span">
            Password is invalid
          </span>
        </div>
      </div>


      <button [ngClass]="loginForm.invalid ? 'button-invalid' : 'button'" type="submit" [disabled]="loginForm.invalid">
        Log in
      </button>
      <p>
          <span *ngIf="loginForm.invalid && loginForm.touched"
                class="error-span">
            Form is invalid
          </span>
      </p>
    </form>
  </div>
</div>

